################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning2025/CopilotIndices/17.12.38.29086
/SK-ObservabilitySolution/SK-Observability/local.settings.json
/SK-ObservabilitySolution/.vs/SK-ObservabilitySolution/config/applicationhost.config
/SK-ObservabilitySolution/SK-Observability/obj
/SK-ObservabilitySolution/SK-Observability/bin/Debug/net9.0
/SK-ObservabilitySolution/.vs/SK-ObservabilitySolution
/.vs/Learning2025/v17
